body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3ea7fe;
    
}

.currentWeather {
    border: solid black 2px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.xDay {
    width: 100%;
    height: 25rem;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black 2px;
    margin-top: 1rem;
    background:	#BDB7AB;
    color: white;
}

.day {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    width: 20rem;
}

.wBlock {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}

.mainWeather {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeAndLocation {
    color: white;
}

.currentWeather {
    background-color: #BDB7AB;
    color: white;
}

img {
    width: 10rem;
    height: 10rem;
}



h6 {
    margin: 0.5rem;
}